<a href="/">&larr; Back Home</a>

<h1><%= post.title %> by <%= post.author.name %></h1>

<p><%= post.content %></p>

<div class="well">
  
  <h3>Comments</h3>
  <ul>
    <% post.comments.forEach(function(comment) { %>
      <li> <h4><%= comment.content %></h4></li>
      <p>&mdash; <%= comment.name %></p> </li>
      <% }); %>
  </ul>
    
<hr />
    <h3>
      <a href="/posts"<%= post.id %>"><%= post.comment %></a>
    </h3>


      <form action="/comments" method="POST">
        <input hidden type="number" name="postId" value="<%= post.id %>" />
        <input type="text" name="name" placeholder="Name..." /><br>
        <textarea name="content" placeholder="" Comment here ></textarea><br>
        <input type="submit" value="Comment">
      </form>    
    
  </div>
    